/* .card {
    padding: 10px 10px 10px 10px;
} */

.images {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
  }

.card {
    border: 1px solid black;
    padding-bottom: 10px;
}